@import "../../../Config/variables.scss";
@import "../../../Config/mixins/mediaqueriesReal.scss";

.HeroContainer_PrimerPaso {
  background-color: $light;
  .heroCont_PrimerPaso {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 60vh;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding-right: 24px;
    padding-left: 24px;
    @include tablet {
      grid-template-columns: 1fr;
      height: 100%;
    }
    .LeftContainer_PrimerPaso {
      width: 90%;
      line-height: 1.2;

      @include tablet {
        padding: 5rem 0;
      }

      @include mobile {
        line-height: 1.5;
      }

      h1 {
        font-size: 3rem;
        color: $green;

        @include mobile {
          font-size: 1.8rem;
        }
      }

      h2 {
        font-size: 1.3rem;
        color: $dark;
        font-weight: 100;
        margin-top: 1rem;
        @include mobile {
          font-size: 1rem;
        }
        span {
          font-size: 1.3rem;
          color: $green;
          font-weight: 800;
          margin-top: 1rem;
          @include mobile {
            font-size: 1rem;
          }
        }
      }
      .btn_PrimerPaso {
        font-size: 1rem;
        background-color: $darkblue;
        padding: 14px 32px;
        border: none;
        border-radius: 4px;
        color: $light;
        margin-top: 2rem;
        cursor: pointer;
        position: relative;
        transition: all 0.3s;
        outline: none;
      }
    }
    .RigthContainer_right_PrimerPaso {
      display: flex;
      flex-direction: column;
      display: flex;
      align-items: center;
      text-align: center;
      iframe {
        height: 300px;
        width: 100%;
      }
      .up_right_PrimerPaso {
        display: flex;
        justify-content: space-around;
        div {
          @include mobile {
            width: 100%;
          }
        }

        @include mobile {
          justify-content: center;
          align-items: center;
          width: 100%;
          flex-direction: column;
        }
      }
      .down_right_PrimerPaso {
        display: flex;
        flex-direction: column;
      }
    }
    p {
      color: $error;
      font-size: 0.8em;
      font-weight: 600;
    }
  }

  .HeroContainerDown_PrimerPaso {
    background-color: $light;
  }

  .buttonContainer_PrimerPaso {
    @include tablet {
      margin-top: 1em;
    }
  }
}

.itemList_AgregarInfo {
  list-style-type: circle;
}
