//Font
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
$Kumbh: "Kumbh Sans";

//Colores
$green: #423e28;
$lightgreen: #36cb6c;
$darkblue: #50723c;
$lightblue: #3aafff;
$light: #f7f7f7;
$lightgrey: #cccccc;
$dark: #2d2d2d;
$error: #e24036;
