@import "../../../Config/variables.scss";
@import "../../../Config/mixins/mediaqueriesReal.scss";

.markerInfo_Container {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  margin-top: 1.5em;
}

.markerInfo_CardItemsContainer {
  display: flex;
  flex-direction: row;
  @include midscreen {
    flex-direction: column;
  }
  .markerInfo_CardTextContainer {
    margin-left: 1em;
    width: 60%;
    overflow-wrap: break-word;
    @include tablet {
      min-width: 100%;
      margin: 0;
    }
  }
}

.markerInfo_img {
  border-radius: 8px;
  min-width: 40%;
  @include mobile {
    min-width: 100%;
    margin: 0;
  }
}
